In [6]:
import pandas as pd
from mockcreator import MockCreator

In [7]:
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
    'age': [25, 30, 35, 40, 45],
    'is_student': [True, True, True, False, False],
    'favorite_color': ['red', 'blue', 'green', 'red', 'blue'],
})

# specify when to use python random package methods, instead of faker
series_creators = {
    "is_student": "random",
    "favorite_color": "random",
}
mc = MockCreator.from_dataframe(df, series_creators=series_creators)
mc.to_yaml('../metadata/inferred.yaml')

!cat ../metadata/inferred.yaml

fields:
  id:
    faker: pyint
    min_value: 1
    max_value: 5
  name:
    faker: pystr
    min_chars: 3
    max_chars: 7
  age:
    faker: pyint
    min_value: 25
    max_value: 45
  is_student:
    random: choices
    args:
    - - true
      - false
    weights:
    - 0.6
    - 0.4
  favorite_color:
    random: choices
    args:
    - - red
      - blue
      - green
    weights:
    - 0.4
    - 0.4
    - 0.2

/Users/antti/dev/openmined/PySyft/packages/mockcreator/mockcreator/mockcreator.py:64: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column_name, series in df.iteritems():

In [8]:
mock_creator = MockCreator.from_yaml("../metadata/inferred.yaml")

# specify faker methods, overriding inferred methods
mock_creator.set_metadata("id", { "faker.unique": "pyint", "min_value": 0, "max_value": 1000 })
mock_creator.set_metadata("name", { "faker": "first_name" })

generated = mock_creator.generate_data(10)
generated

    id         name  age  is_student favorite_color
0  695        Kevin   35       False          green
1  371         Lisa   37        True            red
2  925     Michelle   34        True           blue
3  322      Barbara   43        True           blue
4  731  Christopher   34       False            red
5  691       Carlos   35        True           blue
6  481      Jeffery   40        True           blue
7  715      Stephen   25        True           blue
8  878      Brandon   25       False           blue
9  977        Terri   44       False            red

In [9]:
generated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10 non-null     int64
 1   name            10 non-null     object
 2   age             10 non-null     int64
 3   is_student      10 non-null     bool
 4   favorite_color  10 non-null     object
dtypes: bool(1), int64(2), object(2)
memory usage: 458.0+ bytes